.chat-list {
  width: 400px;
  height: 100vh;
  background: var(--bg-primary);
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.chat-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 2px;
}

.chat-list-header h2 {
  font-size: 22px;
}

.chat-list-header button {
  background: var(--accent);
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
}

.chat-list-body {
  overflow-y: auto;
  flex: 1;
  margin-top: 15px;
}

.no-chat{
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0 0;
}