:root {
  --sidebar-width: 80px;
  --chatlist-width: 320px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;

  --shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

  /* Status Colors */
  --success: #22c55e;
  --danger: #ef4444;
  --danger-hover: #dc2626;

  /* White text for colored buttons */
  --text-on-accent: #ffffff;
  --text-on-danger: #ffffff;
}

[data-theme="dark"] {
  --bg-primary: #07122f;
  --bg-secondary: #101d3b;
  --bg-card: #243244;

  --text-primary: #ffffff;
  --text-secondary: #94a3b8;

  --input-bg: #243244;
  --input-text: #ffffff;
  --input-border: #334155;

  --accent: #6366f1;
  --accent-hover: #4f46e5;

  --border: #334155;

  --danger-soft: rgba(239, 68, 68, 0.12);
  --danger-soft-hover: rgba(239, 68, 68, 0.20);

  --accent-shadow: rgba(99, 102, 241, 0.20);

  --overlay: rgba(0, 0, 0, 0.65);
  --chat-bg-image: url("../assest/bg.png");
}

[data-theme="light"] {
  --bg-primary: #f8fafc;
  --bg-secondary: #ffffff;
  --bg-card: #e2e8f0;

  --text-primary: #0f172a;
  --text-secondary: #475569;

  --input-bg: #ffffff;
  --input-text: #0f172a;
  --input-border: #cbd5e1;

  --accent: #6366f1;
  --accent-hover: #4f46e5;

  --border: #cbd5e1;

  --danger-soft: rgba(239, 68, 68, 0.12);
  --danger-soft-hover: rgba(239, 68, 68, 0.20);

  --accent-shadow: rgba(99, 102, 241, 0.20);

  --overlay: rgba(15, 23, 42, 0.35);
  --chat-bg-image: url("../assest/bg-white.png");
}